@page "/catalog"
@inherits VideoCatalogBase

<h3 class="text-center mb-4">Video Catalog</h3>

@if(Genres != null)
{
    if (Genres.Successful)
    {
        <div class="d-flex flex-column justify-content-center">
            <div class="mb-3 d-flex justify-content-center">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked @onclick='() => OnTypeChange("movie")'>
                <label class="btn btn-outline-primary me-2" for="option1">Movies</label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" @onclick='() => OnTypeChange("tvSeries")'>
                <label class="btn btn-outline-primary" for="option2">TV Shows</label>
            </div>

            <select class="form-select form-select-md mb-3 w-50 m-auto" @onchange="OnGenreChange">
                <option selected>Select Genre</option>
                @foreach (var genre in Genres.Genres)
                {
                    <option value=@genre>@genre</option>
                }
            </select>
        </div>
        if(VideoCatalog != null)
        {
            <div class="d-flex justify-content-center flex-wrap g-4">
                @foreach (var video in VideoCatalog.VideoCatalog)
                {
                    <div class="card m-3" style="width: 300px;">
                        <img src="@(!string.IsNullOrWhiteSpace(video.ImageURL) ? video.ImageURL : GetImagePath())" class="card-img-top" alt="Video thumbnail" style="width: 300px; height: 250px;">
                        <div class="card-body" style="min-width: 300px">
                            <h5 class="card-title text-nowrap text-truncate">@video.Title</h5>
                            <p class="card-text d-flex flex-column">
                                <span class="d-inline-block"><b>Release Year:</b> @video.ReleaseYear</span>
                                <span class="d-inline-block"><b>Price:</b> 10 €</span>
                            </p>
                            <button type="button" class="btn btn-success me-2" @onclick="() => SelectVideoForPayment(video.Id, video.Price)" data-bs-target="#paymentForm" data-bs-toggle="modal">Buy</button>
                            <button type="button" class="btn btn-warning me-2" disabled="@IsAddedToWatchlist(video.Id)" @onclick='() => OnAddToWatchlist(video.Id)'>Watchlist</button>

                            @if (isAdmin)
                            {
                                <button type="button" class="btn btn-primary" @onclick='() => OnPublishUpcoming(video.Title)'>Upcoming</button>
                            }
                        </div>
                    </div>
                }
            </div>

            <PaymentForm TitleId="@selectedTitleId" Price="@selectedPrice" />
        }
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <p>@Genres.Error</p>
        </div>
    }

} else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 50px; height: 50px;" role="status" />
    </div>
}
